.app__searchbar {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 521px;
  border: 1px solid rgba(36, 36, 36, 0.25);
  border-radius: 8px;

  .app__searchbar--title {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .app__searchbar--button {
    box-sizing: border-box;
    text-align: right;
    margin-left: 10px;

    .button-search {
      background-color: #50b83c;
      border-radius: 32px;
      border-color: white;
    }
    .button-clear {
      background-color: transparent;
      margin-right: 10px;
    }
  }
}
