.app__movie--result--img {
  width: 75%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
  border-radius: 10px;
  margin-bottom: 10px;
}

.result-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.result-imdb {
  font-weight: bold;
}
